/* This CSS file will need to be added to the styling of
your web pages for the styles to be rendered. */

body {
background-color: teal;
color: #FFCE30;
}

a {
    color: #ffc107;
}

.jumbotron {
  display: flex;
  align-items: top;
  margin: 0;
  height: 100vh;
  color: #FFCE30;
  background-color: teal;
 }

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

p {
  font-size: 2rem;
}


